@{ ViewBag.Title = "Home Page"; }

<div class="jumbotron">
    <h1>MapTech</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem-vindo a MapTech</h2>
        <p>
            MapTech ou tecnologia em mapa, é um site desenvolvido exatamente para você,
            nele você poderá programar sua viagem da forma mais pratica possivel.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Exclusividade</h2>
        <p>Dentro do nosso site você ficará dentro de todas novidades e lançamentos, além de ter uma ampla plataforma sobre acessibilidade para te ajudar a escolher o local mais confortavel pra você e sua familia. </p>
      
    </div>
</div>